# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Build dir
build

# OSX
.DS_Store

# IDE related files
*.swp
.idea

# Log files
npm-debug.log.*
yarn-error.log

# Go binaries
go/get_all_attributes
go/irma_signature_verify

# Timestamp file
go/irma_configuration/timestamp
