html {
  overflow: hidden;
}

/* @todo */
.Connect-App--root-2 {
  height: calc(100vh - 24px);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa; 
  color: rgba(0, 0, 0, 0.65);
}

a:link {
  color: #1db2e4; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #1db2e4;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #074487;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:#1db2e4;
  background-color: transparent;
  text-decoration: underline;
}


.Select * {
  border-radius: 0px !important;
}
